@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
	--font-roboto: 'Roboto', sans-serif;
}

* {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	scroll-behavior: smooth;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-roboto);
	/* font-family: var(--font-mono); */
}